body {
    animation: 10s rgb infinite;
    margin: 3%;
    bottom: 3%;
}

@keyframes rgb {
    0%,
    100% {
        background-color: antiquewhite;
    }
    30% {
        background-color: azure;
    }
    50% {
        background-color: rgb(151, 229, 153);
    }
    80% {
        background-color: rgb(255, 255, 132);
    }
}

.block_center {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: rgba(240, 240, 239, 0.393);
    animation: 10s bord infinite;
    border: 6px groove blue;
}

@keyframes bord {
    25% {
        border: 6px groove yellow;
    }
    75% {
        border: 6px groove green;
    }
}