html {
    height: 100%;
}

button {
    margin: 10px;
    background-color: orange;
    color: white;
    font-size: medium;
    font-weight: 900;
}

body {
    font-family: 'Radio Canada', sans-serif;
    min-height: 100%;
    margin: 0;
    display: grid;
}

.grid * {
    /* background-color: rgb(253, 244, 231); */
}

.grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: "header" "main" "footer";
}

header * {
    font-weight: bold;
    color: rgb(255, 196, 0);
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr repeat(4, 150px);
    background-color: rgb(255, 253, 244);
}

main * {
    text-align: center;
}

main * button {
    width: 20%;
}

main {
    display: grid;
    grid-area: main;
    background-color: rgb(255, 247, 233);
}

.kartochki {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    margin: 3em;
    grid-column-gap: 3em;
    padding: 30px;
}


/*  */

.kartochka {
    border: 1px solid black;
    padding: 1em;
    min-height: 50px;
}

.kartochka * img {
    margin: 0.5em;
}

.onegroop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
}

.lori {
    font-size: x-small;
}

.toogroop {
    display: grid;
    border: 1px solid black;
}

.treagroop {
    /* display: grid; */
    border: 1px solid black;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.treagroop>div:nth-child(6) {
    grid-column-start: 1;
    grid-column-end: 6;
}

.foogroop {
    display: grid;
    border: 1px solid black;
}

footer {
    grid-area: footer;
    min-height: 100%;
    display: grid;
    grid-template-columns: 10em repeat(3, 1fr);
    background-color: rgb(227, 227, 227);
}

footer>div:nth-child(5) {
    grid-column-start: 2;
}

footer>div:nth-child(6) {
    grid-column-start: 3;
    grid-column-end: 5;
}